body
   {
   background-color:  rgb(212, 212, 212);
   margin:            0px;
   padding:           0px;
   text-align:        center;
   }
canvas
   {
   padding:           0px;
   }
div
   {
   font-family:       arial, sans-serif;
#  font-size:         0.5em;
   padding:           0px;
   position:          relative;
   }
p.caption
   {
#  color:             #333333;
#  font-size:         0.5em;
#  font-weight:       bold;
#  padding:           0px 0px 8px 0px;
   padding:           0px 0px 0px 0px;
   }
